body {
	min-width: 1050px;
}
.endFlow {
	clear: both;
}
.topBar td {
	padding-top: 15px;
	padding-bottom: 20px;
}
.topBar .columImgBurst {
	padding-left: 3em;
}
.topBar .columImgBurst img {
	margin: 0px auto;
	display: block;
}
.topBar .bar {
	padding-left: 1em;
}
.topBar tr .navbar {
	display: block;
	width: 480px;
	margin: 0px auto;
	padding-top: 15px;
}
.topBar tr .navbar li {
	float: left;
	margin-left: 10px;
}
.topBar tr .navbar li a {
	display: inline-block;
	border-radius: 20px;
	padding: 8px 15px;
	text-decoration: none;
	color: #2f93af;
	font-weight: 600;
	font-size: 18px;
	font-family: arial;
}
.topBar tr .navbar .signIn a{
	color: #22b793;
}
.topBar tr .navbar .signIn a:hover {
	background-color: #22b793;
	color: white;
}
.topBar tr .navbar a:hover{
	background-color: #33879e;
	color: white;
}
.topBar tr .burstForConsumers {
	display: inline-block;
	text-decoration: none;
	float: right;
	margin-right: 5px;
	margin-top: 20px;
	color: #2f93af; 
	font-weight: medium;
	font-size: 15px;
	font-family: arial;
}
.topBar tr .circle {
	float: right;
	margin-right: 4.5em;
	margin-top: 12px;
}

.pole {
	background-image: url(img/pole.jpg);
	background-size: cover;
	width: 100%;
	height: 310px;
}
.pole .telefon {
	float: left;
	margin-top: 2.5em;
	margin-left: 15.5%;
}
.pole .poleText {
	float: left;
	margin-top: 3.5em;
	margin-left: 4.5%; 
}
.blockButtonVievDemo {
	background-color: rgba(0, 0, 0, 0.2);
	display: inline-block;
	padding: 5px;
	border-radius: 40px;
	margin-top: 20px;
}
.blockButtonVievDemo a {
	text-decoration: none;
	display: inline-block;
}
button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bolder;
	color: #ffffff;
	padding: 11px 25px;
	background: -moz-linear-gradient(
		top,
		#2bafce 0%,
		#0084b3);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#2bafce),
		to(#0084b3));
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	border-radius: 26px;
	border: 0px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		3px -1px 0px rgba(82,177,250,0.4),
		0px -1px 0px rgba(8,2,8,0.2);
}
button.css3button:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bolder;
	color: #ffffff;
	padding: 11px 25px;
	background: -moz-linear-gradient(
		top,
		#0084b3 0%,
		#2bafce); 
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#0084b3),
		to(#2bafce));
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	border-radius: 26px;
	border: 0px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		3px -1px 0px rgba(82,177,250,0.4),
		0px -1px 0px rgba(8,2,8,0.2);
}
.capturePublishMonetize {
	background-image: url(img/background_color.jpg);
	height: 190px; 
	padding: 0px 8%;
}

.capturePublishMonetize div {
	float: left;
	margin-top: 5px;
}
.capturePublishMonetize .cpm {
	width: 29%;
	height: 180px;
}
.capturePublishMonetize .strelka {
	width: 6%;
	height: 100px;
	margin-top: 35px;
}
.capturePublishMonetize div img {
	display: block;
}
.capturePublishMonetize span {
	color: #64868f;
	font-weight: medium;
	font-size: 15px;
	font-family: arial;
	display: block;
	text-align: center;
}
.capturePublishMonetize img, span {
	margin: 0.8em auto;
}

.bar3 {
	padding-top: 18px;
	padding-left: 6%;
}
.bar3 .imgText {
	float: left;
	width: 23%;
	height: 300px;
}
.bar3 img, span {
	display: block;
	text-align: center;
}
.bar3 div img {
	margin: 0px auto;
}
.bar3 .imgText .shortText {
	margin-top: 20px;
	font-weight: bold;
	font-size: 17px;
	font-family: arial;
	color: #4e4e4e;
}
.bar3 .imgText .longText {
	padding: 0px 20px;
	color: #9c9c9c;
	font-size: 15px;
	font-family: arial;
	line-height: 19px;
}
.viewAFButtonBlock {
	margin: 35px auto;
}
.viewAFButton{text-decoration:none; text-align:center; 
 padding:10px 30px; 
 border:solid 1px #7bcbb8; 
 -webkit-border-radius:29px;
 -moz-border-radius:29px; 
 border-radius: 29px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#7bcbb8; 
 background:#ffffff; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  }
  .viewAFButton font {
  	font-size: 25px;
  	margin-left: 15px;
  }

  .bottomBar {
  	margin-top: 3%;
  	background-color: #295b69;
  	height: 130px;
  	font-family: arial;
  	font-size: 12px;
  }
  .bottomBar .textBlock {
  	float: left;
  	padding-top: 25px;
  }
  .bottomBar span {
  	text-align: left;
  	color: #7898a0;
  }
  .bottomBar .textBlock #textBlockId {
  	margin-top: 0px;
  }
  .bottomBar .textBlockOtstup {
  	margin-left: 7%;
  }
  .bottomBar .imgBlock {
  	float: right;
  	margin-right: 7%;
  	padding-top: 15px;
  }
  .bottomBar .textBlock a {
  	text-decoration: none;
  	color: #d5dbde;
  }
  .bottomBar hr {
  	margin-top: 10px;
  }
  .bottomBar .privatTermsBurst {
  	float: left;
  	text-decoration: none;
  	color: #7898a0;
  	font-family: arial;
  	font-size: 12px;
  	margin-top: 10px;
  }
  .bottomBar .teamBurst {
  	margin: 10px 2%;
  }
