body {
	min-width: 1100px;
}
.endFlow {
	clear: both;
}
.logoNavbar {
	margin-top: 1em;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 30px;
}
.burstLogo {
	padding-left: 5%;
}
.burstLogo, .link {
	float: left;
	width: 25%;
}
.bar {
	float: left;
	width: 43%;
}
.logoNavbar .navbar {
	display: block;
	width: 480px;
	margin: 0px auto;
	padding-top: 15px;
}
.logoNavbar .navbar li {
	float: left;
	margin-left: 10px;
}
.logoNavbar .navbar li a {
	display: inline-block;
	border-radius: 20px;
	padding: 8px 15px;
	text-decoration: none;
	color: #2f93af;
	font-weight: bold;
	font-size: larger;
}
.logoNavbar .navbar .signIn a{
	color: #22b793;
}
.logoNavbar .navbar .signIn a:hover {
	background-color: #22b793;
	color: white;
}
.logoNavbar .navbar a:hover{
	background-color: #33879e;
	color: white;
}
.logoNavbar .burstForConsumers {
	display: inline-block;
	text-decoration: none;
	float: right;
	margin-right: 5px;
	margin-top: 20px;
	color: #2f93af; 
	font-size: larger;
}
.logoNavbar .circle {
	float: right;
	margin-right: 3em;
	margin-top: 12px;
}
.pole {
	background-image: url(img/pole.jpg);
	background-size: cover;
	width: 100%;
	height: 310px;
}
.pole .telefon {
	/*border: solid thin;*/
	float: left;
	margin-top: 2.5em;
	margin-left: 16%;
}
.pole .poleText {
	/*border: solid thin;*/
	float: left;
	margin-top: 3.5em;
	margin-left: 3%; 
}
.blockButtonVievDemo {
	/*border: solid thin;*/
	background-color: rgba(0, 0, 0, 0.2);
	display: inline-block;
	padding: 5px;
	border-radius: 40px;
	margin-top: 20px;
}
.blockButtonVievDemo a {
	text-decoration: none;
	display: inline-block;
}
button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bolder;
	color: #ffffff;
	padding: 11px 25px;
	background: -moz-linear-gradient(
		top,
		#2bafce 0%,
		#0084b3);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#2bafce),
		to(#0084b3));
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	border-radius: 26px;
	border: 0px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		3px -1px 0px rgba(82,177,250,0.4),
		0px -1px 0px rgba(8,2,8,0.2);
}
button.css3button:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bolder;
	color: #ffffff;
	padding: 11px 25px;
	background: -moz-linear-gradient(
		top,
		#0084b3 0%,
		#2bafce); 
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#0084b3),
		to(#2bafce));
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	border-radius: 26px;
	border: 0px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		3px -1px 0px rgba(82,177,250,0.4),
		0px -1px 0px rgba(8,2,8,0.2);
}