body {
	min-width: 1050px;
}
.endFlow {
	clear: both;
}
.logoNavbar {
	margin-top: 1em;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 30px;
}
.burstLogo, .link {
	float: left;
	width: 28%;
}
.bar {
	float: left;
	width: 43%;
}
.logoNavbar .navbar {
	display: block;
	width: 480px;
	margin: 0px auto;
	padding-top: 15px;
}
.logoNavbar .navbar li {
	float: left;
	margin-left: 10px;
}
.logoNavbar .navbar li a {
	display: inline-block;
	border-radius: 20px;
	padding: 8px 15px;
	text-decoration: none;
	color: #2f93af;
	font-weight: bold;
	font-size: larger;
}
.logoNavbar .navbar .signIn a{
	color: #22b793;
}
.logoNavbar .navbar .signIn a:hover {
	background-color: #22b793;
	color: white;
}
.logoNavbar .navbar a:hover{
	background-color: #33879e;
	color: white;
}
.logoNavbar .burstForConsumers {
	display: inline-block;
	text-decoration: none;
	float: right;
	margin-right: 5px;
	margin-top: 20px;
	color: #2f93af; 
	font-size: larger;
}
.logoNavbar .circle {
	float: right;
	margin-right: 3em;
	margin-top: 12px;
}
.pole {
	background-image: url(img/pole.jpg);
	background-size: cover;
	width: 100%;
	height: 250px;
}
.pole .telefon {
	float: left;
	margin-top: 1em;
	margin-left: 10%;
}
